//.bonus
//    .container
//        .bonus__row
//            .bonus__info
//                .bonus__text
//                    .bonus__text-top RĂMÂI ÎN JOC
//                    .bonus__text-bottom CU #[span APLICAȚIA] favbet
//                .bonus__buttons
//                    .bonus__buttons-item
//                        a(href='https://apps.apple.com/ro/app/favbet-ro/id1114477310?l=ro').bonus__buttons-item-link.bonus__buttons-item-link-appstore
//                            img(src='img/app-store.png' alt='appstore-link')
//                        .bonus__buttons-item-qr.bonus__buttons-item-qr-appstore
//                    .bonus__buttons-vs
//                        img(src='img/vs.svg' alt='vs')
//                    .bonus__buttons-item
//                        a(href="https://play.google.com/store/apps/details?id=com.betinvest.favbet_3_ro&hl=en").bonus__buttons-item-link.bonus__buttons-item-link-googleplay
//                            img(src='img/googleplay.png' alt='google-play-link')
//                        .bonus__buttons-item-qr.bonus__buttons-item-qr-googleplay
//            .bonus__image
//                .bonus__image-wrap
//                    .bonus__image-phoneTwo
//                    .bonus__image-phoneOne
//                    .bonus__image-elemOne
//                    .bonus__image-elemTwo
//                    .bonus__image-elemThree

.promotion
    picture.promotion__stars
        source(media="(max-width: 600px)" srcset="img/stars-mob.png")
        source(media="(max-width: 1024px)" srcset="img/stars-tab.png")
        source(media="(min-width: 1025px)" srcset="img/stars-desk.png")
        img(src="img/stars-desk.png" alt="christmas tree")
    .container
        section.promotion__info
            .promotion__info-left
                img(src='img/logo.svg' alt='favbet logo').promotion__logo
                .promotion__txt
                    h1.promotion__title
                        .promotion__title-item Christmas
                        .promotion__title-item Traffic
                        .promotion__title-item Boost
                    .promotion__date
                        .promotion__date-item період акції з 01.12 по 31.12
                        .promotion__date-item підбиваємо підсумки 10.01
                a(href='#').promotion__regBtn.promotion__txt-btn Реєстрація
            .promotion__info-right
                picture.promotion__tree
                    source(media="(max-width: 600px)" srcset="img/tree-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/tree-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/tree-desk.png")
                    img(src="img/tree-desk.png" alt="christmas tree")
                a(href='#').promotion__enterBtn Вхід
            img(src="img/spiral-blue.svg" alt="spiral").promotion__info-lineB

            img(src="img/spiral-magenta.svg" alt="spiral").promotion__info-lineM
        section.promotion__instructions
            h2.promotion__h2 Як взяти участь?
            .promotion__instructions-container
                .promotion__step
                    img(src='img/candy-one.png' alt='candy 1').promotion__step-number
                    .promotion__step-text
                        .step-top Крок
                        .step-bottom Читай умови
                .promotion__step
                    img(src='img/candy-two.png' alt='candy 2').promotion__step-number
                    .promotion__step-text
                        .step-top Крок
                        .step-bottom Реєструйся
                .promotion__step
                    img(src='img/candy-three.png' alt='candy 3').promotion__step-number
                    .promotion__step-text
                        .step-top Крок
                        .step-bottom Вигравай призи
            a(href='#').promotion__regBtn.promotion__instructions-btn Реєстрація

        section.promotion__winnings
            h2.promotion__h2 Гарантовані призи за виконання <br> кваліфікації
            .prize
                .prize__item
                    .prize__item-money 500 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 100 FTD
                .prize__item
                    .prize__item-money 1 000 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 200 FTD
                .prize__item
                    .prize__item-money 3 000 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 500 FTD
                .prize__item
                    .prize__item-money 10 000 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 1 000 FTD
                picture.prize-dollar
                    source(media="(max-width: 600px)" srcset="img/dollar-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/dollar-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/dollar-desk.png")
                    img(src="img/dollar-desk.png" alt="dollar")
                picture.prize-procent
                    source(media="(max-width: 600px)" srcset="img/procent-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/procent-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/procent-desk.png")
                    img(src="img/procent-desk.png" alt="dollar")


        section.promotion__conditions
            h2.promotion__h2 Умови кваліфікації
        section.promotion__summary
            h2.promotion__h2 Наливай FTD
