.promotion
    .container
        section.promotion__info
            .promotion__info-left
                img(src='img/logo.svg' alt='favbet logo').promotion__logo
                .promotion__txt
                    h1.promotion__title
                        .promotion__title-item Christmas
                        .promotion__title-item Traffic
                        .promotion__title-item Boost
                    .promotion__date
                        .promotion__date-item період акції з 01.12 по 31.12
                        .promotion__date-item підбиваємо підсумки 10.01
                a(href='https://favbet.partners/uk/user/register/').promotion__regBtn.promotion__txt-btn Реєстрація
            .promotion__info-right
                picture.promotion__star
                    source(media="(max-width: 767px)" srcset="img/star-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/star-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/star-desk.png")
                    img(src="img/star-desk.png" alt="star")
                picture.promotion__tree
                    source(media="(max-width: 767px)" srcset="img/tree-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/tree-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/tree-desk.png")
                    img(src="img/tree-desk.png" alt="christmas tree")
        section.promotion__instructions
            h2.promotion__h2 Як взяти участь?
            .promotion__instructions-container
                .promotion__step
                    img(src='img/candy-one.png' alt='candy 1').promotion__step-number
                    .promotion__step-text
                        .step-top Крок
                        .step-bottom Читай умови
                .promotion__step
                    img(src='img/candy-two.png' alt='candy 2').promotion__step-number
                    .promotion__step-text
                        .step-top Крок
                        .step-bottom Реєструйся
                .promotion__step
                    img(src='img/candy-three.png' alt='candy 3').promotion__step-number
                    .promotion__step-text
                        .step-top Крок
                        .step-bottom Вигравай призи
            a(href='https://favbet.partners/uk/user/register/').promotion__regBtn.promotion__instructions-btn Реєстрація

        section.promotion__winnings
            h2.promotion__h2 Гарантовані призи за виконання кваліфікації
            .prize
                .prize__item
                    .prize__item-money 500 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 100 FTD
                .prize__item
                    .prize__item-money 1 000 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 200 FTD
                .prize__item
                    .prize__item-money 3 000 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 500 FTD
                .prize__item
                    .prize__item-money 10 000 $
                    .prize__item-img
                        picture.promotion__tree
                            source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                            source(media="(max-width: 1024px)" srcset="img/gift-tab.png")
                            source(media="(min-width: 1025px)" srcset="img/gift-desk.png")
                            img(src="img/gift-desk.png" alt="gift box")
                    .prize__item-ftd 1 000 FTD
                picture.prize-dollar
                    source(media="(max-width: 500px)" srcset="img/dollar-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/dollar-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/dollar-desk.png")
                    img(src="img/dollar-desk.png" alt="dollar")
                picture.prize-procent
                    source(media="(max-width: 500px)" srcset="img/procent-mob.png")
                    source(media="(max-width: 1024px)" srcset="img/procent-tab.png")
                    source(media="(min-width: 1025px)" srcset="img/procent-desk.png")
                    img(src="img/procent-desk.png" alt="procent")
        .promotion__bg-bottom
        section.promotion__conditions
            h2.promotion__h2 Умови кваліфікації
            ul.promotion__terms
                li.promotion__terms-item
                    img(src="img/ball.png" alt="ball").promotion__terms-img
                    p.promotion__terms-txt Приймаємо трафік з фб, гугл (окрім бренд запитів) тікток, seo, baners, push, pops.
                li.promotion__terms-item
                    img(src="img/ball.png" alt="ball").promotion__terms-img
                    p.promotion__terms-txt Зі 100% гравців не менше 70% повинні зробити повторний депозит за звітний період.
                li.promotion__terms-item
                    img(src="img/ball.png" alt="ball").promotion__terms-img
                    p.promotion__terms-txt Зі 100% гравців не менше 70% повинні мати активність більше 2х днів за звітний період.
                li.promotion__terms-item
                    img(src="img/ball.png" alt="ball").promotion__terms-img
                    p.promotion__terms-txt Заборонений мотивований трафік, фрод, мультиакаунти.
                li.promotion__terms-item
                    img(src="img/ball.png" alt="ball").promotion__terms-img
                    p.promotion__terms-txt Бейслайн 100 грн.
                li.promotion__terms-item
                    img(src="img/ball.png" alt="ball").promotion__terms-img
                    p.promotion__terms-txt В акції приймає участь трафік з України, підбивання підсумків відбудеться 24 грудня серед учасників, які пройдуть кваліфікацію. Всі переможці отримають особисте повідомлення від організатора акції в телеграм.
        section.promotion__summary
            h2.promotion__h2 Наливай FTD
            ul.promotion__summary-container
                li.promotion__summary-item
                    .item-top Період акції
                    .item-bottom з 01.12 по 31.12
                li.promotion__summary-item
                    .item-top Підбиваємо підсумки
                    .item-bottom 10.01.2025
                li
                    a(href='href="https://t.me/favbet_affiliates"').promotion__summary-item
                        .item-img.tg
                        .item-top Запитуй у #[span телеграмі]
                li
                    a(href='href="https://favbet.partners"').promotion__summary-item
                        .item-img.fb
                        .item-top Відвідай наш #[span сайт]
            .promotion__summary-buttons
                a(href='#').promotion__regBtn Реєстрація
                a(href='#').promotion__enterBtn Вхід
            picture.promotion__summary-emoji
                source(media="(max-width: 500px)" srcset="img/emoji-mob.png")
                source(media="(max-width: 1024px)" srcset="img/emoji-tab.png")
                source(media="(min-width: 1025px)" srcset="img/emoji-desk.png")
                img(src="img/gift-desk.png" alt="gift box")
            picture.promotion__summary-cocktail
                source(media="(max-width: 500px)" srcset="img/cocktail-mob.png")
                source(media="(max-width: 1024px)" srcset="img/cocktail-tab.png")
                source(media="(min-width: 1025px)" srcset="img/cocktail-desk.png")
                img(src="img/gift-desk.png" alt="gift box")


